{% extends "templates/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-content: center; margin-bottom: 20px;">
        <div>Hi {{ user.username }}!</div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% if df.empty %}
        <br><a href="{% url 'teste' %}">Importar</a> 
    {% endif %}
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Login</a>
    <br><a href="{% url 'signup' %}">Cadastro</a>
{% endif %}
<div>{{ df|safe }}</div>
{% endblock %}