{% extends 'templates/base.html' %}

{% block content %}
<body id="page-top">
<div id="wrapper">
    <!-- START of Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Banking App</div>
        </a>

        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Internet Banking
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'client-list' %}"><i class="fa fa-user mr-3"></i><span>Clients</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account-list' %}"><i class="fa fa-credit-card mr-3"></i><span>Accounts</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'transaction-list' %}"><i class="fa fa-money mr-3"></i><span>Transactions</span></a>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="d-flex flex-row justify-content-end navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <a href="{% url 'logout' %}">
                    <div class="mr-2">LOGOUT</div>
                </a>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                {% block page-head %}
                {% endblock %}

                <div class="col-12">
                    {% block page-content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!--                <footer class="sticky-footer bg-white">-->
        <!--                    <div class="container my-auto">-->
        <!--                        <div class="copyright text-center my-auto">-->
        <!--                            <span>Copyright © Your Website 2020</span>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </footer>-->
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}

{% block extra-js %}{% endblock %}
